<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>


<body>

<nav th:replace="layouts :: navbar"></nav>

 
	<div class="container">
		<form th:action="@{/partners/save}" th:object="${partner}" method="POST">
		
		<!-- face legatura cu angajatul selectat pt update  -->
		<input type="hidden" th:field="${partner.partnerId}"/>
		
		<input type="text" placeholder="Name" th:field="${partner.name}">
		
		
		
		
		
		
		
		<button type="submit">Enter Business Partner</button>
		
		</form>
	</div>
	
</body>

</html>